<!--preloading-->
<div id="preloader">
    <img class="logo" src="images/logo-small.png" alt="Small Logo">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
    <!--end of preloading-->
